<div id="graphContainer">
  <svg width="100%" height="100%">
    <ng-container *ngFor="let rectangle of rectangles">
      <rect class="rectangle" [attr.width]="rectangle.width" [attr.height]="rectangle.height" [attr.x]="rectangle.xPlot" [attr.y]="rectangle.yPlot" [attr.style]="'fill:' + rectangle.data.color + ';'" />
      <text [attr.x]="getTextXPosition(rectangle)" [attr.y]="getTextYPosition(rectangle)" [attr.style]="'fill:' + appUtilityService.setContrast(rectangle.data.color) + ';'">{{ rectangle.data.label }}</text>
    </ng-container>
  </svg>
</div>