<app-toast #toast></app-toast>
<div class="row g-0 content-col">
  <div class="col-12 border-bottom bg-white px-2 py-3">
    <h4 class="header">Application</h4>
    <div class="sub-header">Apply and manage internship application</div>
  </div>
  <!-- <div class="col-12 border-bottom bg-white"></div> -->
  <div class="col-lg-6 col-12 content-col-str border">
    <div class="w-100 p-2 border-start border-5">
      <b>Company List</b>
    </div>
    <div class="border-top p-2" style="font-size: 0.8em; color: var(--bs-gray);">* Maximum THREE companies only</div>
    <div class="w-100 p-2 border-top bg-white overflow-auto">
      <app-application-list-datatable #companyDatatable (onDisplayCompany)="companyModal.open(companyModal.childContent); company = $event" (onApply)="applyModal.open(applyModal.childContent); companyId.value = $event.companyId"></app-application-list-datatable>
    </div>
  </div>
  <div class="col-lg-6 col-12 content-col-end border">
    <div class="w-100 p-2 border-start border-5">
      <b>Application List</b>
    </div>
    <div class="w-100 p-2 border-top bg-white overflow-auto">
      <app-application-result-datatable #resultDatatable (onDisplayCompany)="companyModal.open(companyModal.childContent); company = $event.company" (onDisagree)="disagreeModal.open(disagreeModal.childContent); disagreeApplicationId.value = $event.applicationId" (onAgree)="agreeModal.open(agreeModal.childContent); agreeApplicationId.value = $event.applicationId"></app-application-result-datatable>
    </div>
  </div>
</div>

<app-modal #applyModal>
  <div modal-title>Confirmation</div>
  <div modal-body>
    Are you sure you want to apply?
    <input type="text" #companyId hidden>
  </div>
  <div modal-footer>
    <app-button-group class="m-1" (click)="applyModal.close()" [btnTxt]="'Cancel'" [btnIcn]="'fa-close'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-danger'" [btnBorderClass]="'border-danger'"></app-button-group>
    <app-button-group class="m-1" (click)="onInsertApplication(companyId.value)" [btnTxt]="'Confirm'" [btnIcn]="'fa-check'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-success'" [btnBorderClass]="'border-success'"></app-button-group>
  </div>
</app-modal>

<app-modal #agreeModal>
  <div modal-title>Confirmation</div>
  <div modal-body>
    Are you sure you want to accept the offer?
    <input type="text" #agreeApplicationId hidden>
  </div>
  <div modal-footer>
    <app-button-group class="m-1" (click)="agreeModal.close()" [btnTxt]="'Cancel'" [btnIcn]="'fa-close'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-danger'" [btnBorderClass]="'border-danger'"></app-button-group>
    <app-button-group class="m-1" (click)="onUpdateApplication(agreeApplicationId.value, 'ACP')" [btnTxt]="'Confirm'" [btnIcn]="'fa-check'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-success'" [btnBorderClass]="'border-success'"></app-button-group>
  </div>
</app-modal>

<app-modal #disagreeModal>
  <div modal-title>Confirmation</div>
  <div modal-body>
    Are you sure you want to reject the offer?
    <input type="text" #disagreeApplicationId hidden>
  </div>
  <div modal-footer>
    <app-button-group class="m-1" (click)="disagreeModal.close()" [btnTxt]="'Cancel'" [btnIcn]="'fa-close'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-danger'" [btnBorderClass]="'border-danger'"></app-button-group>
    <app-button-group class="m-1" (click)="onUpdateApplication(disagreeApplicationId.value, 'REJ')" [btnTxt]="'Confirm'" [btnIcn]="'fa-check'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-success'" [btnBorderClass]="'border-success'"></app-button-group>
  </div>
</app-modal>

<app-modal [footerDisplayStatus]="false" [modalSize]="'lg'" #companyModal>
  <div modal-title>Company Details</div>
  <div modal-body>
    <div class="card">
      <div class="card-header">
        <b>Company</b>
      </div>
      <div *ngIf="company" class="card-body p-2">
        <div class="row g-2 py-1">
          <div class="col-lg-6 col-12">
            <label class="form-label mb-1">Name</label>
            <input type="text" class="form-control form-control-sm" [value]="company.companyName" disabled>
          </div>
          <div class="col-lg-6 col-12">
            <label class="form-label mb-1">Website</label>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" [value]="company.companyWebsite" disabled>
              <button [disabled]="!company.companyWebsite" (click)="appUtilityService.onOpenURLNewWindow(company.companyWebsite!)" class="input-group-text">
                <i class="fa fa-expand fw-bold"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row g-2 py-1">
          <div class="col-lg-6 col-12">
            <label class="form-label mb-1">Email</label>
            <input type="text" class="form-control form-control-sm" [value]="company.companyEmail" disabled>
          </div>
          <div class="col-lg-6 col-12">
            <label class="form-label mb-1">Phone number</label>
            <input type="text" class="form-control form-control-sm" [value]="company.companyPhone" disabled>
          </div>
        </div>
        <div class="row g-2 py-1">
          <div class="col-lg-12 col-12">
            <label class="form-label mb-1">Address</label>
            <textarea class="form-control form-control-sm textarea-no-resize" rows="5" disabled>{{ company.companyAddress }}</textarea>
          </div>
        </div>
        <div class="row g-0 pt-1">
          <div class="col-lg-3 col-12">
            <label class="form-label mt-5px">Brochure</label>
          </div>
          <div class="col-lg-9 col-12">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" [value]="company.companyBrochureFileName" disabled>
              <button [disabled]="!company.companyBrochure" (click)="appUtilityService.onDisplayFile(company.companyBrochure!)" class="input-group-text">
                <i class="fa fa-expand fw-bold"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header">
        <b>Person in Charge</b>
      </div>
      <div *ngIf="company" class="card-body p-2">
        <div class="row g-2 py-1">
          <div class="col-lg-6 col-12">
            <label class="form-label mb-1">Name</label>
            <input type="text" class="form-control form-control-sm" [value]="company.companyHrName" disabled>
          </div>
          <div class="col-lg-6 col-12">
            <label class="form-label mb-1">Gender</label>
            <input type="text" class="form-control form-control-sm" [value]="company.companyHrGender" disabled>
          </div>
        </div>
        <div class="row g-2 pt-1">
          <div class="col-lg-6 col-12">
            <label class="form-label mb-1">Phone</label>
            <input type="text" class="form-control form-control-sm" [value]="company.companyHrPhone" disabled>
          </div>
          <div class="col-lg-6 col-12">
            <label class="form-label mb-1">Email</label>
            <input type="text" class="form-control form-control-sm" [value]="company.companyHrEmail" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>