<app-toast #toast></app-toast>
<div class="row g-0 content-col">
  <div class="col-12 border-bottom bg-white px-2 py-3">
    <h4 class="header">Student</h4>
    <div class="sub-header">Manage student's detail, internship application and <br> evaluation information</div>
  </div>
  <!-- <div class="col-12 border-bottom bg-white"></div> -->
  <div class="col-12 content-col-str border" [ngClass]="{'col-lg-7': userType == 'COD', 'col-lg-12': userType != 'COD'}">
    <div class="w-100 p-2 border-start border-5">
      <b>Student List</b>
    </div>
    <div class="w-100 p-2 border-top bg-white">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-1">
            <div class="row g-1">
              <div class="col-lg-3 col-12">
                <div class="input-group">
                  <select #campusSelect [ngClass]="{'filter-success': campusSelect.value}" (change)="datatable.reRender()" class="form-select form-select-sm">
                    <option value="" selected hidden>Campus</option>
                    <ng-container *ngIf="campusList.length">
                      <option *ngFor="let campus of campusList" [value]="campus">{{ campus }}</option>
                    </ng-container>
                  </select>
                  <button [disabled]="!campusSelect.value" [ngClass]="{'filter-success': campusSelect.value}" (click)="campusSelect.value = ''; datatable.reRender()" class="input-group-text">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="col-lg-3 col-12">
                <div class="input-group">
                  <select #courseSelect [ngClass]="{'filter-success': courseSelect.value}" (change)="datatable.reRender()" class="form-select form-select-sm">
                    <option value="" selected hidden>Course</option>
                    <ng-container *ngIf="courseList.length">
                      <option *ngFor="let course of courseList" [value]="course">{{ course }}</option>
                    </ng-container>
                  </select>
                  <button [disabled]="!courseSelect.value" [ngClass]="{'filter-success': courseSelect.value}" (click)="courseSelect.value = ''; datatable.reRender()" class="input-group-text">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="col-lg-3 col-12">
                <div class="input-group">
                  <select #classSelect [ngClass]="{'filter-success': classSelect.value}" (change)="datatable.reRender()" class="form-select form-select-sm">
                    <option value="" selected hidden>Class</option>
                    <ng-container *ngIf="classList.length">
                      <option *ngFor="let class of classList" [value]="class">{{ class }}</option>
                    </ng-container>
                  </select>
                  <button [disabled]="!classSelect.value" [ngClass]="{'filter-success': classSelect.value}" (click)="classSelect.value = ''; datatable.reRender()" class="input-group-text">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="col-lg-3 col-12">
                <app-button-group (click)="datatable.downloadTable()" class="float-end" [btnTxt]="'Export'" [btnIcn]="'fa-file-excel-o'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-secondary'" [btnBorderClass]="'border-secondary'"></app-button-group>
              </div>
            </div>
          </li>
        </ul>
        <div class="card-body p-1 overflow-auto">
          <app-student-datatable id="datatable" #datatable [filterCampus]="campusSelect.value" [filterCourse]="courseSelect.value" [filterClass]="classSelect.value" (onUpdate)="onSetForm($event); student = $event" (onUpdateStatus)="onSetStudentStatusList($event)"></app-student-datatable>
        </div>
        <div *ngIf="students.length" class="card-footer">
          <app-button-group class="me-2" (click)="students = []; datatable.reRender()" [btnType]="'button'" [btnTxt]="'Reset'" [btnIcn]="'fa-refresh'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-secondary'" [btnBorderClass]="'border-secondary'"></app-button-group>
          <app-button-group (click)="onUpdateStudents()" [btnType]="'button'" [btnTxt]="'Update'" [btnIcn]="'fa-check'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-primary'" [btnBorderClass]="'border-primary'"></app-button-group>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userType == 'COD'" class="col-lg-5 col-12 content-col-end border">
    <div class="w-100 p-2 border-start border-5">
      <b>Student Details</b>
    </div>
    <div class="w-100 p-2 border-top bg-white">
      <form [formGroup]="studentFormGroup" (ngSubmit)="onSubmitForm(studentCV, studentMiniTranscript, studentCoverLetter, studentCourseOutline, studentSL)">
        <div class="row g-2 py-1">
          <div class="col-lg-6 col-12">
            <label for="studentName" class="form-label mb-1">Full name</label>
            <input oninput="this.value = this.value.toUpperCase()" type="text" class="form-control form-control-sm" formControlName="studentName" id="studentName" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentName', 'required', submitStatus)}">
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentName', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentName', 'required')">Name is required</span>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <label for="studentMatricNum" class="form-label mb-1">Matric number</label>
            <input type="number" class="form-control form-control-sm" formControlName="studentMatricNum" id="studentMatricNum" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentMatricNum', 'required', submitStatus)}">
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentMatricNum', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentMatricNum', 'required')">Matric number is required</span>
            </div>
          </div>
        </div>
        <div class="row g-2 py-1">
          <div class="col-lg-4 col-12">
            <label for="studentEmail" class="form-label mb-1">Email</label>
            <input type="text" class="form-control form-control-sm" formControlName="studentEmail" id="studentEmail" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentEmail', 'required', submitStatus) || appUtilityService.checkFormGroupValid(studentFormGroup, 'studentEmail', 'email', submitStatus)}">
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentEmail', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentEmail', 'required')">Email is required</span>
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentEmail', 'email')">Invalid email pattern</span>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <label for="studentPassword" class="form-label mb-1">Password</label>
            <input type="text" class="form-control form-control-sm" formControlName="studentPassword" id="studentPassword" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentPassword', 'required', submitStatus)}">
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentPassword', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentPassword', 'required')">Password is required</span>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <label for="studentPhone" class="form-label mb-1">Phone number</label>
            <div class="input-group input-group-sm">
              <span class="input-group-text" [ngClass]="{'border-danger': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentPhone', 'required', submitStatus)}">+60</span>
              <input type="text" class="form-control" formControlName="studentPhone" id="studentPhone" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentPhone', 'required', submitStatus)}">
            </div>
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentPhone', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentPhone', 'required')">Phone number is required</span>
            </div>
          </div>
        </div>
        <div class="row g-2 py-1">
          <div class="col-lg-4 col-12">
            <label for="studentCampus" class="form-label mb-1">Campus</label>
            <app-search-select [formGroup]="studentFormGroup" [formControlString]="'studentCampus'" [formGroupId]="'studentCampus'" [formGroupError]="appUtilityService.checkFormGroupValid(studentFormGroup, 'studentCampus', 'required', submitStatus)" [options]="campusList"></app-search-select>
            <!-- <input oninput="this.value = this.value.toUpperCase()" type="text" class="form-control form-control-sm" formControlName="studentCampus" id="studentCampus" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentCampus', 'required', submitStatus)}"> -->
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentCampus', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentCampus', 'required')">Campus is required</span>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <label for="studentCourse" class="form-label mb-1">Course</label>
            <app-search-select [formGroup]="studentFormGroup" [formControlString]="'studentCourse'" [formGroupId]="'studentCourse'" [formGroupError]="appUtilityService.checkFormGroupValid(studentFormGroup, 'studentCourse', 'required', submitStatus)" [options]="courseList"></app-search-select>
            <!-- <input oninput="this.value = this.value.toUpperCase()" type="text" class="form-control form-control-sm" formControlName="studentCourse" id="studentCourse" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentCourse', 'required', submitStatus)}"> -->
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentCourse', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentCourse', 'required')">Course is required</span>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <label for="studentClass" class="form-label mb-1">Class</label>
            <app-search-select [formGroup]="studentFormGroup" [formControlString]="'studentClass'" [formGroupId]="'studentClass'" [formGroupError]="appUtilityService.checkFormGroupValid(studentFormGroup, 'studentClass', 'required', submitStatus)" [options]="classList"></app-search-select>
            <!-- <input oninput="this.value = this.value.toUpperCase()" type="text" class="form-control form-control-sm" formControlName="studentClass" id="studentClass" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentClass', 'required', submitStatus)}"> -->
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentClass', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentClass', 'required')">Class is required</span>
            </div>
          </div>
        </div>
        <div class="row g-2 py-1">
          <div class="col-lg-12 col-12">
            <label for="studentAddress" class="form-label mb-1">Address</label>
            <textarea oninput="this.value = this.value.toUpperCase()" formControlName="studentAddress" id="studentAddress" class="form-control form-control-sm textarea-no-resize" rows="5" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentAddress', 'required', submitStatus)}"></textarea>
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentAddress', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentAddress', 'required')">Address is required</span>
            </div>
          </div>
        </div>
        <div class="row g-2 py-1">
          <div class="col-lg-6 col-12">
            <label for="academicSvId" class="form-label mb-1">Academic supervisor</label>
            <select class="form-select form-select-sm" formControlName="academicSvId" id="academicSvId">
              <option value="" selected hidden></option>
              <ng-container *ngIf="academicSupervisors.length">
                <option *ngFor="let academicSupervisor of academicSupervisors" [value]="academicSupervisor.academicSvId">{{ academicSupervisor.academicSvName }}</option>
              </ng-container>
            </select>
          </div>
          <div class="col-lg-6 col-12">
            <label for="industrySvId" class="form-label mb-1">Industry supervisor</label>
            <select class="form-select form-select-sm" formControlName="industrySvId" id="industrySvId">
              <option value="" selected hidden></option>
              <ng-container *ngIf="industrySupervisors.length">
                <option *ngFor="let industrySupervisor of industrySupervisors" [value]="industrySupervisor.industrySvId">{{ industrySupervisor.industrySvName }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="row g-2 py-1">
          <div class="col-lg-12 col-12">
            <label for="studentProject" class="form-label mb-1">Project</label>
            <input oninput="this.value = this.value.toUpperCase()" type="text" class="form-control form-control-sm" formControlName="studentProject" id="studentProject">
          </div>
        </div>
        <div class="row g-2 py-1">
          <div class="col-lg-6 col-12">
            <label for="part6Semester" class="form-label mb-1">Semester</label>
            <select class="form-select form-select-sm" formControlName="part6Semester" id="part6Semester" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'part6Semester', 'required', submitStatus)}">
              <option value="" selected hidden>PART 6</option>
              <ng-container *ngFor="let semester of semesters">
                <option *ngIf="semester.semesterPart == 'PART_6'" [value]="semester.semesterId">{{ semester.semesterCode }}</option>
              </ng-container>
            </select>
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'part6Semester', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'part6Semester', 'required')">Semester is required</span>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <label for="part7Semester" class="form-label mb-1">&nbsp;</label>
            <select class="form-select form-select-sm" formControlName="part7Semester" id="part7Semester" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'part7Semester', 'required', submitStatus)}">
              <option value="" selected hidden>PART 7</option>
              <ng-container *ngFor="let semester of semesters">
                <option *ngIf="semester.semesterPart == 'PART_7'" [value]="semester.semesterId">{{ semester.semesterCode }}</option>
              </ng-container>
            </select>
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'part7Semester', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'part7Semester', 'required')">Semester is required</span>
            </div>
          </div>
        </div>
        <div class="row g-0 py-1">
          <div class="col-lg-3 col-12">
            <label for="studentCV" class="form-label mb-1 mt-5px">Resume</label>
          </div>
          <div class="col-lg-9 col-12">
            <div class="input-group">
              <input #studentCV type="file" class="form-control form-control-sm" formControlName="studentCV" accept="application/pdf" id="studentCV" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentCV', 'invalidFileType', submitStatus)}">
              <button type="button" *ngIf="appUtilityService.isObjectNotEmpty(student)" [disabled]="!student.studentCV" (click)="appUtilityService.onDisplayFile(student.studentCV!)" class="input-group-text">
                <i class="fa fa-expand fw-bold"></i>
              </button>
            </div>
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentCV', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentCV', 'invalidFileType')">Invalid file type</span>
            </div>
          </div>
        </div>
        <div class="row g-0 py-1">
          <div class="col-lg-3 col-12">
            <label for="studentMiniTranscript" class="form-label mt-5px">Mini Transcript</label>
          </div>
          <div class="col-lg-9 col-12">
            <div class="input-group">
              <input #studentMiniTranscript type="file" class="form-control form-control-sm" formControlName="studentMiniTranscript" accept="application/pdf" id="studentMiniTranscript" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentMiniTranscript', 'invalidFileType', submitStatus)}">
              <button type="button" *ngIf="appUtilityService.isObjectNotEmpty(student)" [disabled]="!student.studentMiniTranscript" (click)="appUtilityService.onDisplayFile(student.studentMiniTranscript!)" class="input-group-text">
                <i class="fa fa-expand fw-bold"></i>
              </button>
            </div>
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentMiniTranscript', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentMiniTranscript', 'invalidFileType')">Invalid file type</span>
            </div>
          </div>
        </div>
        <div class="row g-0 py-1">
          <div class="col-lg-3 col-12">
            <label for="studentCoverLetter" class="form-label mt-5px">Cover letter</label>
          </div>
          <div class="col-lg-9 col-12">
            <div class="input-group">
              <input #studentCoverLetter type="file" class="form-control form-control-sm" formControlName="studentCoverLetter" accept="application/pdf" id="studentCoverLetter" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentCoverLetter', 'invalidFileType', submitStatus)}">
              <button type="button" *ngIf="appUtilityService.isObjectNotEmpty(student)" [disabled]="!student.studentCoverLetter" (click)="appUtilityService.onDisplayFile(student.studentCoverLetter!)" class="input-group-text">
                <i class="fa fa-expand fw-bold"></i>
              </button>
            </div>
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentCoverLetter', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentCoverLetter', 'invalidFileType')">Invalid file type</span>
            </div>
          </div>
        </div>
        <div class="row g-0 py-1">
          <div class="col-lg-3 col-12">
            <label for="studentCourseOutline" class="form-label mt-5px">Course outline</label>
          </div>
          <div class="col-lg-9 col-12">
            <div class="input-group">
              <input #studentCourseOutline type="file" class="form-control form-control-sm" formControlName="studentCourseOutline" accept="application/pdf" id="studentCourseOutline" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentCourseOutline', 'invalidFileType', submitStatus)}">
              <button type="button" *ngIf="appUtilityService.isObjectNotEmpty(student)" [disabled]="!student.studentCourseOutline" (click)="appUtilityService.onDisplayFile(student.studentCourseOutline!)" class="input-group-text">
                <i class="fa fa-expand fw-bold"></i>
              </button>
            </div>
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentCourseOutline', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentCourseOutline', 'invalidFileType')">Invalid file type</span>
            </div>
          </div>
        </div>
        <div class="row g-0 py-1">
          <div class="col-lg-3 col-12">
            <label for="studentSL" class="form-label mt-5px">SL01</label>
          </div>
          <div class="col-lg-9 col-12">
            <div class="input-group">
              <input #studentSL type="file" class="form-control form-control-sm" formControlName="studentSL" id="studentSL" accept="application/pdf" [ngClass]="{'is-invalid': appUtilityService.checkFormGroupValid(studentFormGroup, 'studentSL', 'invalidFileType', submitStatus)}">
              <button type="button" *ngIf="appUtilityService.isObjectNotEmpty(student)" [disabled]="!student.studentSL" (click)="appUtilityService.onDisplayFile(student.studentSL!)" class="input-group-text">
                <i class="fa fa-expand fw-bold"></i>
              </button>
            </div>
            <div *ngIf="appUtilityService.checkFormGroupSubmitted(studentFormGroup, 'studentSL', submitStatus)" class="form-label-error w-100 mt-1">
              <span *ngIf="appUtilityService.checkFormGroupHasError(studentFormGroup, 'studentSL', 'invalidFileType')">Invalid file type</span>
            </div>
          </div>
        </div>
        <div class="row g-0 py-1">
          <div class="col-lg-6 col-12"></div>
          <div class="col-lg-6 col-12">
            <app-button-group class="float-end"  [btnTxt]="'Submit'" [btnIcn]="'fa-check'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-primary'" [btnBorderClass]="'border-primary'"></app-button-group>
            <app-button-group (onClick)="submitStatus = false; student = {}" class="float-end me-2" [btnType]="'reset'" [btnTxt]="'Reset'" [btnIcn]="'fa-refresh'" [btnContentColor]="'#fff'" [btnBgClass]="'bg-secondary'" [btnBorderClass]="'border-secondary'"></app-button-group>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
